// Global
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  @apply flex flex-col justify-between bg-gray-100;
  box-sizing: border-box;
  font-family: theme("fontFamily.rubik");
  // height: 100vh;
}

@layer components {
  .content-page {
    @apply md:px-10 pb-10 px-4;
  }

  .info-circle {
    @apply text-xs me-1 rounded-full w-5 h-5 border-2 border-blue-900 inline-flex items-center justify-center;
  }

  .scroll {
    scroll-snap-type: y mandatory;
    overflow: auto;
    height: 25.1875rem;
    padding-inline-end: 0.5rem;

    &::-webkit-scrollbar {
      width: theme("spacing.1");
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme("colors.purple.300");
      // outline: 1px solid slategrey;
    }

    &__item {
      scroll-snap-stop: always;
      scroll-snap-align: start;
    }
  }
}

.ng-dropdown-panel {
  background-color: #fff;
  // width: 300px !important;
  top: 3rem;

  .ng-dropdown-panel-items {
    &::-webkit-scrollbar {
      width: theme("spacing.1");
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: theme("colors.purple.300");
    }
    .ng-option {
      @apply p-3;

      &:hover {
        @apply bg-gray-100;
      }
    }
  }
}
