<div class="grid grid-cols-1 md:grid-cols-3 justify-between gap-10 {{classes?.base}}">
  <div class="md:col-span-2 relative">
    <ul
      class="bg-white divide-gray-20 rounded flex flex-col lg:flex-row lg:items-center justify-between gap-8 divide-y lg:divide-x p-4"
    >
      <li class="flex-1">
        <h6 class="text-blue-800 text-start mb-4">{{"shippingAddress" | translate}}</h6>
        <p class="text-purple-500 text-sm">
          {{address?.label}}
        </p>
      </li>
      <li class="flex-1 lg:ms-4 lg:ps-6 pt-4 lg:pt-0">
        <h6 class="text-blue-800 text-start mb-4">{{"payment" | translate}}</h6>
        <p *ngIf="order?.paymentMethod === 0" class="text-sm text-purple-500">
          <i  class="fa-solid fa-door-open text-primary"></i>

          Cash on Delievery
        </p>
        <p *ngIf="order?.paymentMethod === 1" class="text-sm text-purple-500">
          <i  class="fa-solid fa-door-open text-primary"></i>
          card
        </p>
      </li>
    </ul>

    <button
      *ngIf="haveACoupon"
      type="button"
      class="edit-button button button--white absolute end-[-16px] bottom-1/2 translate-y-[40%]"
    >
      <span class="sr-only">Edit</span>
      <i class="fa-solid fa-pencil"></i>
    </button>
  </div>

  <div *ngIf="haveACoupon">
    <app-input-filed
      [label]="('doYouHaveVoucher' | translate)"
      [placeholder]="('enterCode' | translate)"
      [classes]="{
        label: 'text-sm text-purple-500',
        input: 'placeholder: !text-xs !px-2 placeholder:!text-gray-250'
      }"
    ></app-input-filed>
    <button type="button" class="ms-auto button text-xs button--primary button--bordered">
      {{"addVoucher" | translate}}
    </button>

  </div>
</div>
