<div class="bg-white flex flex-col md:flex-row  gap-6 py-2.5 px-5 border-b-2  {{
    classes?.base
  }} " [ngClass]="{'border-orange-400': !hasCustomBorderColor}">
  <img [src]="product.image" class="w-36 h-36 object-cover rounded" alt="{{ product.name }}" />
  <div class="flex flex-col flex-grow items-start justify-between">
    <div class="flex justify-between items-center w-full">
      <h6>{{ product.name }}</h6>
      <app-dropdown *ngIf="!editOrdelete" [id]="'actionDropdown' + product.id" [showSelectedValue]="false"
      [options]="getDropdownActions(product)" dropdownIcon="fa-ellipsis-vertical" [classes]="{
      label: 'bg-primary-100',
      toggleBtn: 'outline-none w-8 h-8 rounded-full hover:bg-gray-200',
      list: 'w-[220px] lg:w-auto shadow px-4 space-y-3',
      base: '!h-auto',
      listItem: 'bg-primary-100',
      dropdownMenu:'lg:!w-[220px] before:!-end-3 lg:before:!end-2 ',
      menuBtn:'bg-primary-100'
    }" (valueChanged)="onDropdownChange($event, product.id)">
    </app-dropdown>
    </div>
    <p class="text-base text-purple-300 my-3" *ngIf="showDesc && product.description">
      {{ product.description }}
    </p>
    <div class="bg-gray-100 inline-flex text-gray-350 text-xs rounded divide-x rtl:divide-x-reverse p-2 gap-2 items-center">
      <span class="px-2" *ngIf="product.hexColor">{{"color" | translate}}:
        <i class="fa-solid fa-circle text-xxs" [style]="{ color: '#' + product.hexColor }"></i></span>
      <span *ngIf="product.size" class="px-2">{{"size" | translate}}: {{ product.size }}</span>
      <span class="px-2">{{"qty" | translate}}: {{ product.quantity }}</span>
    </div>


    <div *ngIf="hasQuantity" class="flex flex-wrap justify-between w-full">

      <p class="flex-grow">
        <span class="line-through me-2 text-xs" *ngIf="product.totalPrice > 0 && product.priceAfterDiscount > 0">{{ product.totalPrice }} {{"EGP" | translate}}</span>
        <span class="text-primary text-base" *ngIf="product.totalPrice > 0 && product.priceAfterDiscount === 0">{{ product.totalPrice }} {{"EGP" | translate}}</span>
        <span class="text-primary text-base" *ngIf="product.priceAfterDiscount > 0">{{ product.priceAfterDiscount }}
          {{"EGP" | translate}}</span>
      </p>

      <app-quantity-button [classes]="{ base: 'ms-auto' }" [productId]="product.id" [quantity]="product.quantity"
        (quantityChangeObject)="onQuantityChange($event)"
        [disabledAddQuantity]="editOrdelete === true ? true : product.quantity === product.sizeQuantity"
        [maxQuantity]="product.sizeQuantity">
      </app-quantity-button>
    </div>
    <!-- <div class="flex lg:flex-col justify-between">
      <section class="flex-grow self-end">


      </section>
    </div> -->

    <ng-content></ng-content>
  </div>
</div>
