<div
  class="bg-white flex flex-col md:flex-row  gap-6 py-2.5 px-5 border-b-2  {{
    classes?.base
  }} "
[ngClass]="{'border-orange-400': !hasCustomBorderColor}"
>
  <img
    [src]="product.image"
    class="w-36 h-36 object-cover rounded"
    alt="{{ product.name }}"
  />

  <div class="flex flex-col flex-grow items-baseline justify-between">
    <h6>{{ product.name }}</h6>

    <p
      class="text-base text-purple-300 my-3"
      *ngIf="showDesc && product.description"
    >
      {{ product.description }}
    </p>
    <div
      class="bg-gray-100 inline-flex text-gray-350 text-xs rounded divide-x p-2 gap-2 items-center"
    >
      <span class="px-2"
        >color:
        <i
          class="fa-solid fa-circle text-xxs"
          [style]="{ color: '#' + product.hexColor }"
        ></i
      ></span>
      <span class="px-2">size: {{ product.size }}</span>
      <span class="px-2">QTY: {{ product.quantity }}</span>
    </div>


    <div *ngIf="hasQuantity" class="flex flex-wrap justify-between w-full">
      <p class="flex-grow">
        <span class="line-through me-2 text-xs" *ngIf="product.totalPrice > 0"
          >{{ product.totalPrice }} EGP</span
        >
        <span
          class="text-primary text-base"
          *ngIf="product.priceAfterDiscount > 0"
          >{{ product.priceAfterDiscount }} EGP</span
        >
      </p>

      <!-- <app-quantity-button
        [classes]="{ base: 'ms-auto' }"
        [(quantity)]="product.quantity"
      ></app-quantity-button> -->

      <app-quantity-button
      [classes]="{ base: 'ms-auto' }"
      [(quantity)]="product.quantity" [disabledAddQuantity]="product.quantity === product.sizeQuantity"
      [maxQuantity]="product.sizeQuantity">
    </app-quantity-button>
    </div>

    <ng-content></ng-content>
  </div>
</div>
