<div class="stepper">
  <div class="stepper__header">
    <div class="flex flex-col md:flex-row items-center justify-center gap-y-2 md:gap-y-0" #stepContainer>
      <div
        *ngFor="let step of steps; let i = index"
        class="stepper__header__step-indicator"
      >
        <div
          class="fa-regular fa-circle-dot circle"
          [class.circle--active]="currentStep === i"
          [class.circle--done]="currentStep > i"
        >
          <!-- Line  -->
          <div
            class="line"
            [class.line--active]="currentStep === i"
            [class.line--done]="currentStep > i"
            *ngIf="steps && i < steps.length - 1"
          ></div>
        </div>

        <h3
          class="step-name"
          [class.step-name--active]="currentStep === i"
          [class.step-name--done]="currentStep > i"
        >
          <span [innerHTML]="step.icon"></span>
          {{ step.label }}
        </h3>
      </div>
    </div>
  </div>

  <div action="#">
    <div class="stepper__body mt-14 mb-14">
      <ng-container *ngFor="let item of steps; let i = index">
        <app-step
          [template]="item.template"
          [isActive]="currentStep === i"
          [label]="item.label"
          [icon]="item.icon"
        ></app-step>
      </ng-container>
    </div>

    <div class="stepper__footer">
      <button
        type="button"
        *ngIf="currentStep >= 1"
        (click)="backStep()"
        class="button button--primary !py-0 button--bordered rounded-full flex-auto xl:flex-initial xl:px-24"
      >
        Back
      </button>

      <ng-container *ngFor="let step of steps; let i = index">
        <ng-container *ngIf="currentStep === i">
          <button
            title="action"
            type="button"
            [innerHTML]="step.additionalAction"
          ></button>
        </ng-container>
      </ng-container>

      <button
        type="button"
        class="button button--primary !py-0 rounded-full flex-auto xl:flex-initial xl:px-24"
        (click)="nextStep()"
        [disabled]="disabledNextButton"
        *ngIf="steps !== undefined && currentStep < steps.length"
      >
        <!-- {{ steps![currentStep]?.nextButtonLabel || 'Next' }} -->
        <ng-container *ngFor="let step of steps; let i = index">
          <ng-container *ngIf="currentStep === i">
            {{ step?.nextButtonLabel || "next" }}
          </ng-container>
        </ng-container>
      </button>
    </div>
  </div>
</div>
