<app-modal-content title="Hello!" subtitle="Welcome back, Login to Continue">
  <div class="modal__body p-6">
    <p class="text-blue-200 text-sm mb-4">
      The mobile number you entered is already associated with an existing
      account.
    </p>

    <p class="text-blue-700 mb-10">
      Please use the existing account's password to
      <a href="/login" class="text-primary"> log in</a>
    </p>

    <!-- <app-input-password placeholder="Password"></app-input-password> -->
    <app-input-password placeholder="Password" name="uniqueName2"></app-input-password>

    <a
      href="/forget-password"
      class="underline hover:no-underline text-orange-600 block text-start"
      >Forgot Password</a
    >
  </div>

  <div class="modal__footer p-6 space-x-2 border-gray-200 rounded-b">
    <button
      type="button"
      (click)="close()"
      class="button button--primary rounded-full w-full"
    >
      LOGIN
    </button>
  </div>
</app-modal-content>
