<div
  class="mb-5 {{ classes?.base }} input-container"
  [class.floating-label]="isFloating"
>
  <label
    *ngIf="!isFloating"
    for="password"
    class="block mb-2 text-sm font-medium text-blue-900 {{ classes?.label }}"
    >{{ label }}
    <span class="text-red-500" *ngIf="required"> * </span>
  </label>

  <div class="relative" [class.floating-label]="isFloating">
    <input
  title="password input"
  [type]="type"
  [id]="name"
  required
  [placeholder]="placeholder"
  [disabled]="disabled"
  [required]="required"
  [name]="name"
  [value]="value"
  class="{{ classes?.input }} w-full"
  [ngClass]="{
    'border-red-500': error,
    'border-red-30': error !== '',
  }"
/>
    <label
      *ngIf="isFloating"
      [for]="name"
      [ngClass]="{'peer-focus:text-primary': !classes?.labelColor }"
      class="floating-label__label {{ classes?.label }}"
    >
      {{ label }}
      <span class="text-red-500" *ngIf="required"> * </span>
    </label>
    <button
      type="button"
      (click)="toggleShowPassword()"
      title="toggle-password"
      class="absolute end-6 inset-y-0"
    >
      <i
        class="fa-solid text-gray-150"
        [class.fa-eye]="isShowPassword"
        [class.fa-eye-slash]="!isShowPassword"
      ></i>
    </button>
  </div>

  <p *ngIf="error" id="standard_error_help" class="mt-2 text-xs text-red-600">
    {{ error }}
  </p>
</div>
