<div class="mb-5">
  <label
    *ngIf="label || !isFloating"
    for="password"
    class="block mb-2 text-sm font-medium text-gray-900"
    >{{ label }}
    <span class="text-primary" *ngIf="required"> * </span>
  </label>

  <div class="relative">
    <input
      [type]="type"
      id="password"
      class="bg-white border border-gray-30 px-6 text-gray-900 text-sm rounded-lg h-14 focus:ring-primary/50 focus:border-primary outline-primary-400/40 block w-full p-2.5 placeholder:text-purple-500"
      required
      [placeholder]="placeholder"
      [disabled]="disabled"
      [required]="required"
      [name]="name"
      [value]="value"
      [ngClass]="{
        'focus:border-primary peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6':
          isFloating,
        'block w-full text-sm text-gray-900 bg-transparent border-0 border-b-2':
          isFloating,
        'border-gray-300 appearance-none focus:outline-none focus:ring-0':
          isFloating
      }"
    />


    <label
      *ngIf="isFloating"
      for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-primary peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
      >Email address
    </label>
    <button
      type="button"
      (click)="toggleShowPassword()"
      title="toggle-password"
      class="absolute end-6 inset-y-0"
    >
      <i
        class="fa-solid text-gray-150"
        [class.fa-eye]="isShowPassword"
        [class.fa-eye-slash]="!isShowPassword"
      ></i>
    </button>
  </div>
</div>

<div class="relative z-0 w-full mb-5 group">
  <input
    type="email"
    name="floating_email"
    id="floating_email"
    placeholder=" "
    required
  />
  >
</div>
