<app-modal-content [title]='"hello" | translate ' [subtitle]='"welcomeMsg"|translate'>
  <div class="modal__body p-6">
    <label *ngIf="enterMessage" class="danger">{{enterYourMessage}}</label>
    <label *ngIf="showInvalidMessage" [ngClass]="{'danger': invalid}">{{InvalidMessage}}</label>

    <app-input-phone *ngIf="!showForgotPasswordMessage" [countriesCode]="countriesCode" [classes]="{
        base: 'mb-4',
        label: 'peer-focus:text-base text-start',
        labelColor: 'peer-focus:text-purple-500'
      }" placeholder= ""
      (selectedOption)="handleSelectedOption($event)" (valueChange)="handleInputValueChange($event)">
    </app-input-phone>

    <!-- <app-input-password placeholder="Password"></app-input-password> -->

    <app-input-password [placeholder]="('Password' |translate)" name="uniqueName1" [classes]="{
        label: 'peer-focus:text-base text-start',
        labelColor: 'peer-focus:text-purple-500'
      }" (valueChange)="handlePasswordValueChange($event)"></app-input-password>



<div class="flex justify-between items-center">

  <a (click)="forgotPassword()" *ngIf="!showForgotPasswordMessage" class="underline hover:no-underline text-orange-600 block text-start"> {{"forgetPassword" | translate}}
  </a>
  <a (click)="NavigateToSignup()"  class="underline hover:no-underline text-orange-600 block text-start">{{"signUp" | translate}}</a>
</div>
  </div>

  <div class="modal__footer p-6 space-x-2 border-gray-200 rounded-b">
    <button type="button" (click)="login()" class="button button--primary rounded-full w-full"
      [disabled]="!(selectedCountryCode && phoneValue && passwordValue)">
      {{showForgotPasswordMessage ? ('confirm' | translate) : ('login' | translate)}}
    </button>

    <!-- <button *ngIf="showForgotPasswordMessage" type="button" (click)="login()" class="button button--primary rounded-full w-full"
      [disabled]="!(selectedCountryCode && phoneValue && passwordValue)">
      CONFIRM
    </button> -->

  </div>
</app-modal-content>
