.home-banner {
  ::ng-deep {
    .swiper-custom-bullet {
      @apply border border-purple-500 rounded inline-flex w-5 h-5;

      &-active {
        background-color: theme("colors.purple.500");
      }
    }

    .slider__nav_disabled {
      pointer-events: none;
      i {
        opacity: 0.4;
      }
    }
  }
}
