
<div
  class="bg-white flex flex-col lg:flex-row gap-6 lg:gap-32 pt-3 pb-6 px-5 border-s-2 justify-between"

>
<!-- [class.border-green-500]="seller.stateOfSellerOrder === 6"
  [class.border-lightBlue-500]="seller.stateOfSellerOrder !== 6" -->
  <div class="">
    <h6 class="text-blueGray-400 text-sm mb-4">Seller:</h6>
    <div (click)="navigateSeller(seller?.sellerId)"class="pointer-div flex items-center gap-2">
      <img
        [src]="seller?.imagePath"
        alt="{{ seller?.imagePath }}"
        class="w-12 h-12 object-cover rounded-full object-top"
      />
      <h6 class="font-bold text-sm text-blue-900">{{ seller?.name }}</h6>
    </div>
  </div>

  <div class="flex-grow">
    <p class="font-medium text-sm text-blue-900 mb-2">
      Items: {{ seller?.products?.length }}
    </p>
    <ul class="bg-blue-100 rounded-sm py-1 px-2 inline-flex flex-col w-full">
      <li
        *ngFor="let item of seller.products"
        [ngClass]="getIOrderItemState(item.orderItemState)?.textColor"
        class="flex gap-3 items-center justify-between"
      >
        <span class="flex gap-1 items-center flex-grow">
          <svg-icon
            src="../../../../../assets/icons/dot-square.svg"
            [svgStyle]="{
            'width.px': 8,
            'height.px': 8,
          }"
            class="fill-current"
          ></svg-icon>

          <span class="text-xs text-blue-900">{{ item.name }}</span>
        </span>
        <span
          class="text-xs inline-flex"
          [ngClass]="getIOrderItemState(item.orderItemState).textColor"
        >
          ( {{ getOrderItemStateLabel(item.orderItemState) }} )
        </span>
      </li>
    </ul>
  </div>

  <div class="flex lg:flex-col justify-between items-end">
    <div
      class="self-end text-white rounded py-1 px-2"
      [ngClass]="getIOrderItemState(seller.stateOfSellerOrder)?.bgColor"
    >
      {{ getOrderItemStateLabel(seller.stateOfSellerOrder) }}
    </div>

    <p class="text-sm text-purple-500">{{ seller.deliveryDate  }}</p>
  </div>
</div>
