.header-page {
  background-image: url('../../../../assets/images/checkout-cover.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 125px;
  background-position: center;
}
/* Add this style to your component's styles or global styles */
.pointer-cursor {
  cursor: pointer;
}
