.header-page {
  // background-image: url('../../../../assets/images/checkout-cover.svg');
  // background-repeat: no-repeat;
  background-size: cover;
  height: 125px;
  background-position: center;
}
.successfully-message {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  // display: none; /* Initially hide the message */
}

.active {
  @apply text-primary font-bold;
}
