<app-modal-content
  [classes]="{ title: '!text-blue-800 text-lg' }"
  [subtitle]="'reasonsOfCancelation' | translate"
>
  <div *ngIf="!requestAdmin" class="modal__body mb-14 text-center">
    <app-radio
      [options]="cancelReasons"
      [value]="defaultReasonValue"
      (change)="handleChange($event)"
      [classes]="{
        listItem: 'w-full justify-between',
        inputWrapper: 'order-2',
        labelWrapper: 'ms-0 text-start',
        label: '!text-black text-base'
      }"
    >
    </app-radio>
  </div>

  <div *ngIf="requestAdmin" class="modal__body mb-14 text-center">
    <div class="flex justify-center mb-6">
      <img
        src="../../../../../assets/icons/cancel-order-coloring.svg"
        alt=""
        class="w-16"
      />
    </div>

    <p class="text-2xl font-medium text-blue-950">
      {{ requestMessage ? requestMessage : ("orderCancelled" | translate) }}
    </p>
  </div>

  <div *ngIf="!requestAdmin" class="mb-16 flex justify-center">
    <button
      type="button"
      class="button button--primary md:w-[250px] w-full button--rounded-bill"
      (click)="submitCancel()"
    >
      {{ "submit" | translate }}
    </button>
  </div>

  <div *ngIf="requestAdmin" class="mb-16 flex justify-center">
    <button
      type="button"
      class="button button--primary md:w-[250px] w-full button--rounded-bill"
      (click)="onCloseModal()"
    >
      {{ "ok" | translate }}
    </button>
  </div>
</app-modal-content>
