/* In your CSS file (e.g., styles.css or component.css) */
.add-new-address {
  background-color: transparent;
  border: none;
  color: red;
  // text-transform: uppercase;
  cursor: pointer;
  padding: 8px 16px;
  font-size: 16px;
  outline: none;
  font-weight: bold;
  /* Add additional styling such as font-family, hover effects, etc. as needed */
}

.add-new-address:hover {
  /* Style for hover state, for example changing the color slightly */
  color: darkred;
}
