$border-radius-lg: theme('borderRadius.lg');

.slider {
  .swiper-container1,
  .swiper-container2 {
    width: 100%;
    height: 100%;
  }


  &__col {
    display: flex;
    flex-direction: column;
    width: 110px;
  }

  &__prev,
  &__next {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
      outline: none;
    }
  }

  &__thumbs {
    height: calc(400px - 100px);

    .slider__image {
      transition: 0.25s;

      &:hover {
        opacity: 1;
      }
    }

    .swiper-slide-thumb-active {
      .slider__image {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }

  &__images {
    height: 400px;
    width: 350px;

    .slider__image {
      img {
        transition: 3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-lg;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  @media (max-width: theme('screens.sm')){

    &__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }

    &__images {
      width: 100%;
    }

    &__thumbs {
      height: 100px;
      width: calc(100% - 96px);
      margin: 0 16px;
    }

    &__prev,
    &__next {
      height: auto;
      width: 32px;
    }
  }
}
.video-container {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
  /* Add any additional styling you want here */
}

