<section class="slider">
  <div class="md:flex items-start justify-between">
    <div class="slider__images">
      <swiper-container
         init="false"
        class="swiper-container1 swiper2"
        appSwiper
        #swiper
        [config]="swiperConfig"
        controller-control=".swiper-2"
      >
        <swiper-slide *ngFor="let item of items" class="h-full">
          <div class="slider__image">
            <img [src]="item.urlPreview" alt="{{ item.id }}" />
          </div>
        </swiper-slide>
      </swiper-container>
    </div>


    <div class="slider__col">
      <button type="button" class="slider__prev" *ngIf="items.length > 3">Prev</button>
      <div class="slider__thumbs">
        <swiper-container
          init="false"
          class="swiper-container1"
          appSwiper
          #swiper
          thumbs-swiper=".mySwiper2"
          [config]="swiperConfigThumbs"
          (slidechange)="slideChange($event)"
        >
          <swiper-slide *ngFor="let item of items">
            <div class="slider__image">
              <img [src]="item.urlPreview" alt="{{ item.id }}" />
            </div>
          </swiper-slide>
        </swiper-container>
      </div>

      <button type="button" class="slider__next disabled:opacity-40 cursor-none" *ngIf="items.length > 3" [disabled]="items.length <= 3">Next</button>
    </div>
  </div>
</section>
