.slider {
  .swiper-container1,
  .swiper-container2 {
    width: 100%;
    height: 100%;
  }

  &__prev,
  &__next {
    @apply cursor-pointer text-center text-sm;
  }

  &__thumbs {
    height: calc(400px - 100px);

    .swiper-slide-active {
      .slider__image {
        @apply border border-primary rounded;
      }
    }
  }

  &__images {
    height: 400px;
    width: 350px;

    .slider__image {
      img {
        transition: 3s;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    height: 100%;

    img,
    video {
      @apply rounded block w-full h-full object-cover;
    }
  }

  @media (max-width: theme("screens.sm")) {
    &__col {
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      margin-top: 24px;
      width: 100%;
    }

    &__images {
      width: 100%;
    }

    &__thumbs {
      height: 100px;
      width: 100%;
      margin: 0 16px;


    }

    &__prev,
    &__next {
      height: auto;
      width: 32px;
    }
  }
}
// .video-container {
//   border: 1px solid #ccc;
//   padding: 10px;
//   margin-top: 20px;
// }
