:host {
 min-height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media  (max-width: theme("screens.sm")) {
    height: auto;
  }
}
.pointer-div:hover {
  cursor: pointer;
}
