.sale-img {
  background-image: url("../../../../../assets/icons/sale.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 102px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}
