<div class="grid grid-cols-1 md:grid-cols-3 justify-between gap-10">
  <div class="md:col-span-2">
    <h6 class="text-blue-950 mb-6">Your Cart has ({{products.length}}) items</h6>
    <div class="scroll" *ngIf="products.length else isEmpty">
      <div *ngFor="let product of products" class="scroll__item">
        <div class="mb-6 ">
          <app-visual-product-summary
            [product]="product"
          ></app-visual-product-summary>
        </div>
      </div>
    </div>
  </div>
  <div class="h-full">
    <app-order-summary-card [order]="products" [checkout]="true" [totalDetails]="totalDetails"></app-order-summary-card>
  </div>
</div>
<!-- if the cart is empaty  -->
<ng-template #isEmpty>
  <app-is-empty class="mr-[8rem] block"></app-is-empty>
</ng-template>
