<footer class="px-8 py-4 divide-y divide-y-1 space-y-4 border-t border-gray-200 border-solid bg-white">
  <div class="md:grid grid-cols-4 justify-between items-center md:space-0 space-y-3">
    <span class="flex-auto"><img src="../../../assets/images/logo.svg" alt="Wndo-logo" width="126" height="25" /></span>
    <ul role="list" class="md:flex gap-4 flex-wrap items-center col-span-2">
      <!-- *ngFor="let link of links" -->

      <ng-container *ngFor="let item of links">
        <li role="listitem" class="text-xs font-medium">
            <a class="lh-normal" [href]="item?.href" target="_blank">
                <span>{{ item.title | translate }}</span>
            </a>
        </li>
    </ng-container>

      <!-- <li role="listitem" class="text-xs font-medium">
        <a href="/">{{ "termsCondition"| translate }}</a>
      </li>
      <li role="listitem" class="text-xs font-medium">
        <a href="/">{{ "privacyPolicy"| translate }}</a>
      </li>
      <li role="listitem" class="text-xs font-medium">
        <a href="/">{{ "cookiePolicy"| translate }}</a>
      </li>
      <li role="listitem" class="text-xs font-medium">
        <a href="/">{{ "offerTerms"| translate }}</a>
      </li>
      <li role="listitem" class="text-xs font-medium">
        <a href="/">{{ "sell"| translate }}</a>
      </li>
      <li role="listitem" class="text-xs font-medium">
        <a href="/">{{ "security"| translate }}</a>
      </li> -->
    </ul>
    <div class="space-y-2 justify-self-end">
      <h6 class="text-xxs font-medium">{{"downloadNow" | translate}}</h6>
      <ul class="flex gap-2 items-center">
        <!-- <li>
          <a><img src="../../../assets/images/google-play.svg" alt="app-store" /></a>
        </li>
        <li>
          <a><img src="../../../assets/images/app-store.svg" alt="app-store" /></a>
        </li> -->

        <ng-container *ngFor="let item of appsList">
          <li class="apps-list__item">
              <a [href]="item?.url" target="_blank" rel="noopener">
                  <img class="img-fluid" [src]="item?.imagePath" [alt]="item?.imageAlt">
              </a>
          </li>
      </ng-container>
      </ul>
    </div>
  </div>

  <div class="md:grid grid-cols-3 items-center justify-between pt-3 space-y-4 md:space-y-0">
    <p class="text-xs text-gray-300">
      <!-- © 2021 Wndo Business Solutions All Rights Reserved. -->
      <small class="text-muted">&copy; {{ currentYear }} {{ 'copyright' | translate }}</small>
    </p>



    <ul class="flex items-center md:justify-center gap-8">
      <li *ngFor="let socialMedia of socialMedia" class="text-base text-gray-400">
        <a target="_blank" [href]="socialMedia?.href"><i class="fa-brands text-base {{ socialMedia.icon }}"></i></a>
      </li>
    </ul>

    <ul class="flex items-center gap-4 md:justify-end">
      <li *ngFor="let payment of payments">
        <img [src]="'../../../assets/icons/' + payment.icon + '.svg'" class="object-cover" alt="{{ payment.title }}" />
      </li>
    </ul>
  </div>
</footer>
