<div class="mb-3 input-container {{ classes?.base }}" [class.floating-label]="isFloating">
  <label *ngIf="!isFloating" [for]="name" [ngClass]="{ 'text-blue-900': !classes?.labelColor }" class="block mb-2 text-sm font-medium {{ classes?.label }}">
    {{ label }}
    <span class="text-red-500" *ngIf="required">*</span>
  </label>

  <div class="relative">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      (input)="filterOptions()"
      [ngClass]="{ 'border-red-500': error, 'border-red-30': error !== '' }"
      [id]="id"
      [name]="name"
      [disabled]="disabled"
      class="w-full placeholder:text-sm"
      placeholder="{{ placeholder }}"
      (focus)="showOptions = true"
      (blur)="hideOptions()"
    />

    <ul *ngIf="showOptions" class="options-container">
      <li *ngFor="let option of filteredOptions" (click)="selectOption(option)">
        {{ option.label }}
      </li>
    </ul>

    <i class="fa-solid text-xxs fa-angle-down absolute top-1/2 -translate-y-1/2 end-4 cursor-pointer" (click)="toggleOptions()"></i>
  </div>

  <p *ngIf="error" id="standard_error_help" class="mt-2 text-xs text-red-600">
    {{ error }}
  </p>
</div>
