
  <div class="app-dropdown">

    <button
      [attr.aria-expanded]="isOpen"
      (click)="toggleDropdown()"
      [attr.data-dropdown-toggle]="id"
      [class]="classes?.toggleBtn || 'dropdown__btn'"
      aria-haspopup="true"
      type="button"
    >
      <ng-container *ngTemplateOutlet="startContentTemplate"></ng-container>
      <span *ngIf="showSelectedValue && selectedValue; else labelTemplate">
        {{ selectedValue }}
      </span>
      <ng-container *ngIf="dropdownIcon; else defaultDropdownIcon">
        <i
          class="fa-solid {{ dropdownIcon }}"
          class="text-sm text-blueGray-30"
        ></i>
      </ng-container>
      <ng-template #defaultDropdownIcon>
        <i class="fa-solid fa-caret-down"></i>
      </ng-template>
    </button>

    <div
      *ngIf="isOpen"
      (clickOutside)="closeDropdown()"
      [attr.id]="id"
      class="dropdown-menu {{classes?.dropdownMenu}}"
      [class.show]="isOpen"
    >
      <ul
        class="dropdown-list py-2 text-sm text-gray-700 {{classes?.list}}"
        aria-labelledby="dropdownButton"
      >
        <li
          *ngFor="let option of options; trackBy: trackByFn"
          class="dropdown-item text-start"
        >
          <button
            type="button"
            class="w-full px-4 py-2 hover:bg-gray-100 text-xxs flex items-center gap-2"
            [id]="option.value"
            (click)="onSelectValue(option)"
          >
            <ng-container
              *ngTemplateOutlet="option.startContentMenu"
            ></ng-container>
            <span> {{ option.label }} </span>
            <ng-container *ngTemplateOutlet="option.endContentMenu"></ng-container>
          </button>
        </li>
      </ul>
    </div>
  </div>

<ng-template #labelTemplate>
  <span class="inline-flex">{{ label }}</span>
</ng-template>
<ng-template #startContentTemplate>
  <ng-content select="[startContent]"></ng-content>
</ng-template>
