


  <button
    [attr.data-dropdown-toggle]="id"
    class="{{ classes?.toggleBtn || 'dropdown__btn' }} h-13"
     type="button"
  >
  <ng-content select="[startContent]"></ng-content>

  <ng-container *ngIf="showSelectedValue && selectedValue; else elseTemplate">
    {{ selectedValue }}
  </ng-container>

  <ng-template #elseTemplate>
    <span class="inline-flex">{{ label }}</span>
  </ng-template>

  <ng-container *ngIf="dropdownIcon; else defaultDropdownIcon">
    <i
      class="fa-solid {{ dropdownIcon }}"
      class="text-sm text-blueGray-500"
    ></i>
  </ng-container>
  <ng-template #defaultDropdownIcon>
    <i class="fa-solid fa-caret-down"></i>
  </ng-template>
  </button>

  <!-- Dropdown menu -->
  <div
    [attr.id]="id"
    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44"
  >
    <ul
      class="py-2 text-sm text-gray-700 {{ classes?.list }}"
      aria-labelledby="changeLangButton"
    >
      <li
        *ngFor="let option of options"
        class="text-start {{ classes?.listItem }}"
      >
        <button
          type="button"
          class="text-start w-full px-4 py-2 hover:bg-gray-100 text-xxs flex items-center gap-2 {{
            classes?.menuBtn
          }}"
          [id]="option.value"
          (click)="onSelectValue(option)"
        >
          <ng-container
            *ngIf="option.startContentMenu"
            [ngTemplateOutlet]="option.startContentMenu"
          ></ng-container>

          <span> {{ option.label }} </span>

          <ng-container
            *ngIf="option.endContentMenu"
            [ngTemplateOutlet]="option.endContentMenu"
          ></ng-container>
        </button>
      </li>
      <ng-content></ng-content>
    </ul>
  </div>
