// FONTS
//Icomoon
$icomoon-font-family: "icon" !default;


$icon-car-shipping-path1: "\e902";
$icon-car-shipping-path2: "\e903";
$icon-car-shipping-path3: "\e904";
$icon-car-shipping-path4: "\e905";
$icon-car-shipping-path5: "\e906";
$icon-car-shipping-path6: "\e907";
$icon-car-shipping-path7: "\e93a";
$icon-car-shipping-path8: "\e93b";
$icon-car-shipping-path9: "\e93c";
$icon-car-shipping-path10: "\e93d";
$icon-car-shipping-path11: "\e93e";
$icon-car-shipping-path12: "\e93f";
$icon-car-shipping-path13: "\e940";
$icon-car-shipping-path14: "\e941";
$icon-car-shipping-path15: "\e942";
$icon-car-shipping-path16: "\e943";
$icon-car-shipping-path17: "\e944";
$icon-car-shipping-path18: "\e945";
$icon-bag-shopping-path1: "\e946";
$icon-bag-shopping-path2: "\e947";
$icon-bag-shopping-path3: "\e948";
$icon-bag-shopping-path4: "\e949";
$icon-bag-shopping-path5: "\e94a";
$icon-bag-shopping-path6: "\e94b";
$icon-bag-shopping-path7: "\e94c";
$icon-bag-shopping-path8: "\e94d";
$icon-gift-path1: "\e94e";
$icon-gift-path2: "\e94f";
$icon-gift-path3: "\e950";
$icon-gift-path4: "\e951";
$icon-gift-path5: "\e952";
$icon-gift-path6: "\e953";
$icon-gift-path7: "\e954";
$icon-gift-path8: "\e955";
$icon-gift-path9: "\e956";
$icon-gift-path10: "\e957";
$icon-gift-path11: "\e958";
$icon-gift-path12: "\e959";
$icon-gift-path13: "\e95a";
$icon-gift-path14: "\e95b";
$icon-gift-path15: "\e95c";
$icon-gift-path16: "\e95d";
$icon-gift-path17: "\e95e";
$icon-gift-path18: "\e95f";
$icon-gift-path19: "\e960";
$icon-gift-path20: "\e961";
$icon-gift-path21: "\e962";
$icon-gift-path22: "\e963";
$icon-gift-path23: "\e964";
$icon-cart-path1: "\e965";
$icon-cart-path2: "\e966";
$icon-cart-path3: "\e967";
$icon-cart-path4: "\e968";
$icon-cart-path5: "\e969";
$icon-cart-path6: "\e96a";
$icon-cart-path7: "\e96b";
$icon-cart-path8: "\e96c";
$icon-cart-path9: "\e96d";
$icon-cart-path10: "\e96e";
$icon-cart-path11: "\e96f";
$icon-cart-path12: "\e970";
$icon-cart-path13: "\e971";
$icon-cart-path14: "\e972";
$icon-cart-path15: "\e973";
$icon-cart-path16: "\e974";
$icon-cart-path17: "\e975";
$icon-cart-path18: "\e976";
$icon-cart-path19: "\e977";
$icon-cart-path20: "\e978";
$icon-cart-path21: "\e979";
$icon-cart-path22: "\e97a";
$icon-cart-path23: "\e97b";
$icon-cart-path24: "\e97c";
$icon-cart-path25: "\e97d";
$icon-cart-path26: "\e97e";
$icon-cart-path27: "\e97f";
$icon-cart-path28: "\e980";
$icon-cart-path29: "\e981";
$icon-cart-path30: "\e982";
$icon-cart-path31: "\e983";
$icon-cart-path32: "\e984";
$icon-cart-path33: "\e985";
$icon-cart-path34: "\e986";
$icon-cart-path35: "\e987";
$icon-cart-path36: "\e988";
$icon-cart-path37: "\e989";
$icon-cart-path38: "\e98a";
$icon-cart-path39: "\e98b";
$icon-warning-path1: "\e900";
$icon-warning-path2: "\e901";
$icon-american-express-coloring-path1: "\e908";
$icon-american-express-coloring-path2: "\e909";
$icon-american-express-coloring-path3: "\e90a";
$icon-american-express-coloring-path4: "\e90b";
$icon-american-express-coloring-path5: "\e90c";
$icon-american-express-coloring-path6: "\e90d";
$icon-american-express-coloring-path7: "\e90e";
$icon-american-express-coloring-path8: "\e90f";
$icon-american-express-coloring-path9: "\e910";
$icon-american-express-coloring-path10: "\e911";
$icon-american-express-coloring-path11: "\e912";
$icon-american-express-coloring-path12: "\e913";
$icon-american-express-coloring-path13: "\e914";
$icon-american-express-coloring-path14: "\e915";
$icon-american-express-coloring-path15: "\e916";
$icon-american-express-coloring-path16: "\e917";
$icon-american-express-coloring-path17: "\e918";
$icon-american-express-coloring-path18: "\e919";
$icon-american-express-coloring-path19: "\e91a";
$icon-car-coloring-path1: "\e91b";
$icon-car-coloring-path2: "\e91c";
$icon-car-coloring-path3: "\e91d";
$icon-car-coloring-path4: "\e91e";
$icon-car-coloring-path5: "\e91f";
$icon-car-coloring-path6: "\e920";
$icon-car-coloring-path7: "\e921";
$icon-car-coloring-path8: "\e922";
$icon-car-coloring-path9: "\e923";
$icon-car-coloring-path10: "\e924";
$icon-car-coloring-path11: "\e925";
$icon-car-coloring-path12: "\e926";
$icon-car-coloring-path13: "\e927";
$icon-car-coloring-path14: "\e928";
$icon-master-card-coloring-path1: "\e929";
$icon-master-card-coloring-path2: "\e92a";
$icon-visa-coloring-path1: "\e92b";
$icon-visa-coloring-path2: "\e92c";
$icon-visa-coloring-path3: "\e92d";
$icon-visa-coloring-path4: "\e92e";
$icon-visa-coloring-path5: "\e92f";
$icon-visa-coloring-path6: "\e930";
$icon-visa-coloring-path7: "\e931";
$icon-visa-coloring-path8: "\e932";
$icon-visa-coloring-path9: "\e933";
$icon-visa-coloring-path10: "\e934";
$icon-visa-coloring-path11: "\e935";
$icon-visa-coloring-path12: "\e936";
$icon-visa-coloring-path13: "\e937";
$icon-visa-coloring-path14: "\e938";
$icon-visa-coloring-path15: "\e939";
