.header-page {
  background-image: url('../../../../../assets/images/checkout-cover.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 125px;
  background-position: center;
}

.product-color-button {
  &:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
  }
}
