.header-page {
  background-image: url('../../../../../assets/images/checkout-cover.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 125px;
  background-position: center;
}

.product-color-button {
  &:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
  }
}
.disabled-button-style {
  /* Add your styles for the disabled button here */
  opacity: 0.5; /* For example, reduce opacity */
  cursor: not-allowed; /* Optionally change the cursor to indicate it's not clickable */
}
.selected {
  // Define styles for the selected state, for example, changing background color or border
  background-color: #e0e0e0;
  border-color: #a0a0a0;
}
.custom-notification {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-notification button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
}
