<section
  class="bg-white md:grid lg:grid-cols-9 3xl:grid-cols-5 gap-16 rounded py-10 md:px-14 px-6"
>
  <div class="lg:col-span-4 xxl:col-span-3 3xl:col-span-2 mb-8 md:mb-0">
    <div class="mb-5">
      <app-gallery [images]="product?.images"></app-gallery>
    </div>
    <div *ngIf="showNotification" class="custom-notification">
      Cannot add new product. Available quantity: {{ size.quantity }}. You selected {{ productQuantity }}
      + in your store {{ existingProductStore.quantity}}.
      <button (click)="closeNotification()">Close</button>
    </div>
    <div>
      <h6 class="mb-4">{{"additionalInfo" | translate}}</h6>
      <ul class="flex flex-col">
        <li *ngFor="let lookup of product?.lookups"
            class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white text-gray-800 -mt-px first:mt-0 rounded"
        >
          <span class="text-base text-purple-400">{{ lookup?.displayName }}</span>
          <span class="text-gray-950 text-base" *ngIf="!lookup?.isMultiChoice">{{ lookup?.lookupValues[0]?.displayName }}</span>
          <span class="text-gray-950 text-base" *ngIf="lookup?.isMultiChoice">
            <ng-container *ngFor="let value of lookup?.lookupValues">
              {{ value.displayName }}
            </ng-container>
          </span>
        </li>
      </ul>
    </div>

  </div>

  <div class="lg:col-span-5 xxl:col-span-6 3xl:col-span-3">
    <div class="h-full flex flex-col justify-between gap-5 md:gap-0">
      <div>
        <h2 class="mb-0 md:mb-4.5 text-blue-950">
          {{ product?.name }}
        </h2>
        <div class="flex flex-col md:flex-row md:items-center justify-between gap-y-2 md:gap-y-0">
          <span class="flex gap-8">
            <h2 class="text-primary" *ngIf="responseData?.totalCount">${{ responseData?.totalCount }}</h2>
            <h4 class="text-gray-900 line-through" *ngIf="product?.discount">${{ product?.discount }}</h4>
          </span>
          <span class="bg-orange-500 text-black rounded py-1 px-2">
            {{"thisOffer" | translate}}
          </span>
        </div>
      </div>

      <ng-container>
        <div *ngIf="product?.colorWithSizes.length > 0">
          <h6 class="mb-2">{{'chooseColor' | translate}}</h6>
          <ul class="flex flex-wrap gap-2">
            <button
              *ngFor="let colorWithSizes of product?.colorWithSizes"
              type="button"
              class="capitalize leading-0 product-color-button hover:bg-primary hover:text-white border h-6 px-3 bg-white border-gray-150 rounded-[3px] text-xxs"
              style="--hover-color: #{{ colorWithSizes?.color?.hexaCode }};
              --selected-color:  #{{ colorWithSizes?.color?.hexaCode }}"
              (click)="logColor(colorWithSizes)"
              [ngClass]="{
                'product-color-button--selected text-white':
                  colorWithSizes?.color?.id === selectedColor
              }"
            >
              {{ colorWithSizes?.color?.name }}
            </button>
          </ul>
        </div>

        <div>
          <h6 *ngIf="colorWithSizesSelected?.sizes.length > 0 || product?.sizes.length > 0 " class="mb-2">Choose Size</h6>
          <ul class="flex flex-wrap gap-2">
            <li *ngFor="let size of colorWithSizesSelected?.sizes ? colorWithSizesSelected?.sizes : product?.sizes">
              <button
                type="button"
                class="capitalize hover:bg-primary leading-0 hover:text-white border h-6 px-3 bg-white border-gray-150 rounded-[3px] text-xxs"
                (click)="logSize(size)"
                [ngClass]="{ 'selected !bg-primary !text-white': size?.id === selectedSize }"
              >
                {{ size?.name }}
              </button>
            </li>
          </ul>
        </div>
      </ng-container>

      <!-- @for (colorWithSizes of product.colorWithSizes; track colorWithSizes) {
      <ng-container>
        <div>
          <h6 class="mb-2">Choose Color</h6>
          <ul class="flex flex-wrap gap-2">
            <li *ngFor="let color of product.colorWithSizes">
              <button type="button"
                class="product-color-button capitalize border py-2 px-3 bg-white border-gray-150 rounded-[3px] text-xxs"
                style="--hover-color: #{{ colorWithSizes.color.hexaCode }}">
                {{ colorWithSizes.color.name }}
              </button>
            </li>
          </ul>
        </div>

        <div>
          <h6 class="mb-2">Choose Size</h6>
          <ul class="flex flex-wrap gap-2">
            @for(size of colorWithSizes.sizes; track size ){
            <button type="button"
              class="capitalize hover:bg-primary hover:text-white border h-6 px-3 bg-white border-gray-150 rounded-[3px] text-xxs"
              (click)="logColor(size)">
              {{ size.name }}
            </button>
            }
          </ul>
        </div>
      </ng-container>
      } @empty {
      <p>
        Error:
        {{
        productColorAndSizesResponse.errorMessage || "Unknown error occurred."
        }}
      </p>
      } -->

      <div
        *ngIf="sizeQuantities || product?.quantity !== -1 || (colorWithSizes?.color?.quantity !== -1 && colorWithSizes)"
        class="mb-8 flex flex-wrap gap-8 items-center"
      >
        <h6>Quantity:</h6>
        <app-quantity-button
          [(quantity)]="productQuantity"
          [disabledAddQuantity]="productQuantity >= (product?.quantity !== -1 ? product?.quantity : sizeQuantities)"
          [maxQuantity]="sizeQuantities ?  sizeQuantities : product?.quantity"
          (quantityChange)="onQuantityChange($event)"
        >
        </app-quantity-button>
      </div>

      <p class="text-base text-purple-300 mb-10">{{ product?.description }}</p>


      <div class="card-footer">
        <div class="flex flex-wrap gap-5">
          <button
            type="button"
            class="button button--primary md:w-[250px] w-full button--bordered button--rounded-bill"
            [disabled]="productQuantity === 0"
            (click)="storeProductInLocalStorage(product)"
          >
           {{"buyNow" | translate}}
          </button>

          <button
            type="button"
            class="button button--primary md:w-[250px] w-full button--rounded-bill"
            [disabled]="productQuantity === 0"
            (click)="storeProductInLocalStorageWithoutNavigate(product)"
          >
          {{"addtoCart" | translate}}
          </button>
        </div>
        <p
          class="text-xs text-bluegray-900 flex gap-2 items-center mt-6 justify-center md:w-[500px]"
        >
          <i class="fa-solid fa-dolly text-lg"></i> Delivered By Carrier
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="showAddTocardMessage" class="successfully-message">{{'successfullyAddCart' | translate}} </div>

</section>
