<section class="bg-white grid md:grid-cols-3 gap-16 rounded py-10 px-14">
  <div>
    <div class="h-[500px] bg-gray-150 mb-5">
      <app-product-media-slider [mediaItems]="product"></app-product-media-slider>
      <!-- <app-product-media-slider ></app-product-media-slider> -->
    </div>
    <!-- @for (item of responseData.responseData.items; track item.id) {
      <div>
        <img [src]="item.image.urlThumbnail" alt="{{ item.name }}" />
        <h3>{{ item.name }}</h3>
        <p>{{ item.description }}</p>
        <p>Price: ${{ item.price }}</p>
      </div>
      } @empty { Empty list of users } -->

    <div>
      <h6 class="mb-4">Additional Info</h6>
      <ul class="flex flex-col">
        <li
          class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white text-gray-800 -mt-px first:mt-0 rounded">
          <span class="text-base text-purple-400">Model</span>
          <span class="text-gray-950">Odsy-1000</span>
        </li>
        <li
          class="inline-flex items-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white text-gray-800 -mt-px first:mt-0 rounded">
          <span class="text-base text-purple-400">Color</span>
          <span class="text-gray-950 text-base">Multi Color</span>
        </li>
        <li
          class="inline-flex justify-betweenitems-center gap-x-2 py-3 px-4 text-sm font-medium odd:bg-gray-100 bg-white text-gray-800 -mt-px first:mt-0 rounded">
          <span class="space-x-2">
            <span class="text-base text-purple-400">Delivery</span>
            <span class="text-gray-950 text-base">3 Days </span>
          </span>
          <span class="text-gray-950 text-base ms-auto">(Based on your address)</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="md:col-span-2">
    <div class="h-full flex flex-col justify-between">
      <div>
        <h2 class="mb-4.5 text-blue-950">
          {{ product.name }}
        </h2>
        <div class="flex items-center justify-between">
          <span class="flex gap-8">
            <h2 class="text-primary">${{responseData.totalCount }}</h2>
            <h5 class="text-gray-900 line-through">${{ product.discount }}</h5>
          </span>
          <span class="bg-orange-500 text-black rounded py-1 px-2">
            This Offer Will Expire in 3 Days
          </span>
        </div>
      </div>

      @for (colorWithSizes of product.colorWithSizes; track colorWithSizes) {
      <ng-container>
        <div>
          <h6 class="mb-2">Choose Color</h6>
          <ul class="flex flex-wrap gap-2">
            <li *ngFor="let color of product.colorWithSizes">
              <button type="button"
                class="product-color-button capitalize border py-2 px-3 bg-white border-gray-150 rounded-[3px] text-xxs"
                style="--hover-color: #{{ colorWithSizes.color.hexaCode }}">
                {{ colorWithSizes.color.name }}
              </button>
            </li>
          </ul>
        </div>

        <div>
          <h6 class="mb-2">Choose Size</h6>
          <ul class="flex flex-wrap gap-2">
            @for(size of colorWithSizes.sizes; track size ){
            <button type="button"
              class="capitalize hover:bg-primary hover:text-white border h-6 px-3 bg-white border-gray-150 rounded-[3px] text-xxs"
              (click)="logColor(size)">
              {{ size.name }}
            </button>
            }
          </ul>
        </div>
      </ng-container>
      } @empty {
      <p>
        Error:
        {{
        productColorAndSizesResponse.errorMessage || "Unknown error occurred."
        }}
      </p>
      }

      <div *ngIf="sizeQuantities" class="mb-8 flex flex-wrap gap-8 items-center">
        <h6>Quantity:</h6>
        <app-quantity-button [(quantity)]="productQuantity"
          [disabledAddQuantity]="productQuantity === sizeQuantities"></app-quantity-button>
      </div>

      <p class="text-base text-purple-300 mb-10">{{ product.description }}</p>

      <div class="card-footer">
        <div class="flex flex-wrap gap-5">
          <button type="button" class="button button--primary w-[250px] button--bordered button--rounded-bill">
            BUY NOW
          </button>
          <button type="button" class="button button--primary w-[250px] button--rounded-bill">
            ADD TO CART
          </button>
        </div>
        <p class="text-xs text-bluegray-900 flex gap-2 items-center mt-6 justify-center w-[500px]">
          <i class="fa-solid fa-dolly text-lg"></i> Delivered By Carrier
        </p>
      </div>
    </div>
  </div>
</section>
