<div class="grid grid-cols-1 md:grid-cols-3 justify-between gap-10 {{classes?.base}}">
  <div class="md:col-span-2 relative">
    <ul
      class="bg-white divide-gray-20 rounded flex flex-col lg:flex-row lg:items-center justify-between gap-8 divide-y lg:divide-x p-4"
    >
      <li class="flex-1">
        <h6 class="text-blue-800 text-start mb-4">Shipping Address</h6>
        <p class="text-purple-500 text-sm">
          {{address?.name}}
        </p>
      </li>
      <li class="flex-1 lg:ms-4 lg:ps-6 pt-4 lg:pt-0">
        <h6 class="text-blue-800 text-start mb-4">Payment</h6>
        <p class="text-sm text-purple-500">
          <i class="fa-solid fa-door-open text-primary"></i> Cash on Delievery
        </p>
      </li>
    </ul>


  </div>


</div>
