<app-header-of-page></app-header-of-page>

<div>
  <label for="sellerDropdown">Select a Seller:</label>
  <select id="sellerDropdown" (change)="onSellerSelected($event)">
    <option value="" disabled selected>Select Seller</option>
    <option *ngFor="let seller of sellersData" [value]="seller.userId">{{ seller.name }}</option>
  </select>
</div>

<div *ngIf="selectedUserId">
  <p>Selected userId: {{ selectedUserId }}</p>
</div>


<div class="content-page my-orders">
  <h5 class="mb-8">{{"yourOrders" | translate}} {{ ordersCount }}</h5>
  <section class="xl:px-32 px-8">
    <div class="mb-4">
      <ul
        class="flex flex-wrap text-sm font-medium text-center gap-4 mb-14"
        id="myOrders-tab"
        data-tabs-toggle="#myOrders-tab-content"
        role="tablist"
      >
        <li
          *ngFor="let item of myOrderStatus; let i = index"
          class="me-2"
          role="presentation"
        >
          <button
            [ngClass]="getStyleAndIcon(item).ButtonBg"
            class="my-orders__tab-btn"
            [attr.id]="item + '-tab'"
            [attr.data-tabs-target]="'#' + item"
            type="button"
            role="tab"
            [attr.aria-controls]="item"
            [attr.aria-selected]="currentTab === item"
            (click)="activeTab(item)"
          >
            <div class="flex justify-between mb-2">
              <span
                class="inline-flex text-lg items-center justify-center w-9 h-9 rounded-full bg-gray-100"
                [ngClass]="getStyleAndIcon(item).lengthSpan"
              >
                {{ getItems(item) }}
              </span>

              <svg-icon
                [src]="
                  '../../../../assets/icons/' +
                  getStyleAndIcon(item).icon +
                  '.svg'
                "
                [svgStyle]="{
                'width.px': 34,
                'height.px': 34,
              }"
                class="aria-selected:fill-white fill-current"
              ></svg-icon>
            </div>

            {{ item === "cancelled" ? item + "/refunded" : item }}
          </button>
        </li>
      </ul>
    </div>

    <div id="myOrders-tab-content">
      <div
        *ngFor="let item of myOrderStatus"
        class="p-4 rounded-lg bg-gray-50"
        [class.hidden]="currentTab !== item"
        [attr.id]="item"
        role="tabpanel"
        [attr.aria-labelledby]="item + '-tab'"
      >
        <ng-container *ngFor="let order of myOrders">
          <div class="bg-whitetext-red-500">
            <app-my-order-card *ngIf="ordersState === order.orderState " [product]="order"></app-my-order-card>
          </div>
        </ng-container>
      </div>
    </div>
  </section>

  <section class="pb-12 content-page">
    <p class="text-xs text-blue-900 flex items-center gap-1">
      <svg-icon src="../../../../assets/icons/car-coloring.svg"></svg-icon>
      {{"getShipping" |translate}}

      <a class="ms-1 underline hover:no-underline">{{"downloadNow" | translate}}</a>
    </p>
  </section>
</div>
