<app-header-of-page></app-header-of-page>
<section class="content-page">


  <app-stepper [addMoreProduct]="true">
    <app-step
      label="Check Out"
      icon="bag-coloring"
      [template]="checkout"
      nextButtonLabel="CHECK OUT"
      >
      <!-- additionalAction='<a (click)="addMore()" routerLink="/product/productDetails" class="button button--primary button--bordered rounded-full px-24">ADD MORE PRODUCT</a>' -->
    </app-step>
    <app-step
      label="Shipping & Payment"
      icon="shipping"
      [template]="shippingAndPayment"
      nextButtonLabel="CONTINUE"
    ></app-step>
    <app-step
      label="Confirmation"
      icon="bag-coloring"
      [template]="confirmation"
      nextButtonLabel="CONFIRM"
    ></app-step>
  </app-stepper>
</section>

<section class="pb-12">
 <app-free-shipping [classes]="{base: 'justify-center'}"></app-free-shipping>
</section>

<ng-template #checkout>
  <app-checkout></app-checkout>

</ng-template>

<ng-template #shippingAndPayment>
  <app-shipping-payment></app-shipping-payment>
</ng-template>

<ng-template #confirmation>
  <div class="mb-4">
    <app-checkout></app-checkout>
  </div>

  <app-confirmation [haveACoupon]="true"></app-confirmation>
</ng-template>

<!-- I think the  temporary PasswordModal open when click  CONTINUE at the Shipping & Payment step -->
<!-- temporaryPasswordModal -->
<!-- <button
  type="button"
  class="button button--primary"
  (click)="openTemporaryPasswordModal()"
>
  Open modal with TemplateRef
</button> -->

<!-- When click Confirm (step confirmation) show this modal -->
<!-- confirmationModal -->
<!-- Just Example button will be open confirmation Modal the confirm button in modal -->
<!-- <button
  type="button"
  class="button button--primary"
  (click)="openConfirmedModal()"
>
  Open Confirmed
</button> -->
<!-- <button type="button" class="button button--primary" (click)="openLoginModal()">
  Open Login
</button> -->
