<div class="quantity-button border-gray-200 border border-solid divide-x flex rounded {{classes?.base}}">
  <button
    class="flex-auto py-1 px-2 disabled:bg-transparent disabled:text-gray-150 text-base text-primary font-bold"
    type="button"
    (click)="decreaseQuantity()"
    [disabled]="userSelectedQuantity < 1"
  >
    -
  </button>
  <span class="flex-auto py-1 px-2 text-base font-bold">{{ userSelectedQuantity }}</span>
  <button
    type="button"
    class="flex-auto py-1 px-2 disabled:bg-transparent disabled:text-gray-150 text-base text-primary font-bold"
    (click)="increaseQuantity()"
    [disabled]="disabledAddQuantity"
  >
    +
  </button>
</div>
