<app-header-of-page></app-header-of-page>

<section class="content-page">
  <app-stepper>
    <app-step
      label="Check Out"
      icon='<span class="icon-cart"
      ><span class="path1"></span><span class="path2"></span
      ><span class="path3"></span><span class="path4"></span
      ><span class="path5"></span><span class="path6"></span
      ><span class="path7"></span><span class="path8"></span
      ><span class="path9"></span><span class="path10"></span
      ><span class="path11"></span><span class="path12"></span
      ><span class="path13"></span><span class="path14"></span
      ><span class="path15"></span><span class="path16"></span
      ><span class="path17"></span><span class="path18"></span
      ><span class="path19"></span><span class="path20"></span
      ><span class="path21"></span><span class="path22"></span
      ><span class="path23"></span><span class="path24"></span
      ><span class="path25"></span><span class="path26"></span
      ><span class="path27"></span><span class="path28"></span
      ><span class="path29"></span><span class="path30"></span
      ><span class="path31"></span><span class="path32"></span
      ><span class="path33"></span><span class="path34"></span
      ><span class="path35"></span><span class="path36"></span
      ><span class="path37"></span><span class="path38"></span
      ><span class="path39"></span
    ></span>'
      [template]="checkout"
      nextButtonLabel="CHECK OUT"
      additionalAction='<a (click)="addMore" class="button button--primary button--bordered rounded-full px-24">ADD MORE PRODUCT</a>'
     >
    </app-step>
    <app-step
      label="Shipping & Payment"
      icon='<span class="icon-car-shipping"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span></span>'
      [template]="shippingAndPayment"
      nextButtonLabel="CONTINUE"
    ></app-step>
    <app-step
      label="Confirmation"
      icon='<span class="icon-bag-shopping"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>'
      [template]="shippingAndPayment"
    ></app-step>
  </app-stepper>
</section>
<section class="pb-12">
  <p class="text-xs text-blue-900 flex items-center justify-center">
    <span class="icon-car-coloring text-4xl"
      ><span class="path1"></span><span class="path2"></span
      ><span class="path3"></span><span class="path4"></span
      ><span class="path5"></span><span class="path6"></span
      ><span class="path7"></span><span class="path8"></span
      ><span class="path9"></span><span class="path10"></span
      ><span class="path11"></span><span class="path12"></span
      ><span class="path13"></span><span class="path14"></span
    ></span>
    Get Free Shipping If You Buy The Product From Wndo Application
    <a class="ms-1 underline hover:no-underline">Download Now</a>
  </p>
</section>


<ng-template #checkout>
    <app-checkout></app-checkout>
</ng-template>

<ng-template #shippingAndPayment>
  <app-shipping-payment></app-shipping-payment>
</ng-template>
