<app-header-of-page></app-header-of-page>

<section class="content-page">
  <app-stepper [hasActionFooter]="false">
    <app-step label="Order Placed" icon="order-placed" [template]="orderPlaced">
    </app-step>
    <app-step
      label="Picked up"
      icon="picked-up"
      [template]="pickedUp"
    ></app-step>
    <app-step
      label="Out for delivery"
      icon="out-for-delivery"
      [template]="outForDelivery"
    ></app-step>
    <app-step
      label="Delivered"
      icon="delivered"
      [template]="delivered"
    ></app-step>
  </app-stepper>
</section>

<ng-template #orderPlaced>
  <div class="flex justify-between mb-4">
    <h6 class="text-base font-medium text-blue-900">Order No : 234</h6>
    <p class="text-blue-900">
      Order Statues: <span class="text-lightBlue-500">Order Placed</span>
    </p>
  </div>

    <div class="space-y-4">
      <div *ngFor="let product of products" >
        <app-product-summary-with-seller
          [product]="product"
        ></app-product-summary-with-seller>
      </div>
    </div>
</ng-template>

<ng-template #pickedUp>
  <div class="flex justify-between mb-4">
    <h6 class="text-base font-medium text-blue-900">Order No : 234</h6>
    <p class="text-blue-900">
      Order Statues: <span class="text-orange-300">Picked up</span>
    </p>
  </div>
  <div class="space-y-4">
    <div *ngFor="let product of products" >
      <app-product-summary-with-seller
        [product]="product"
      ></app-product-summary-with-seller>
    </div>
  </div>
</ng-template>

<ng-template #outForDelivery>
  <div class="flex justify-between mb-4">
    <h6 class="text-base font-medium text-blue-900">Order No : 234</h6>
    <p class="text-blue-900">
      Order Statues: <span class="text-orange-600">Out for delivery</span>
    </p>
  </div>
  <div class="space-y-4">
    <div *ngFor="let product of products" >
      <app-product-summary-with-seller
        [product]="product"
      ></app-product-summary-with-seller>
    </div>
  </div>
</ng-template>

<ng-template #delivered>
  <div class="flex justify-between mb-4">
    <h6 class="text-base font-medium text-blue-900">Order No : 234</h6>
    <p class="text-blue-900">
      Order Statues: <span class="text-green-500">Delivered</span>
    </p>
  </div>
  <div class="space-y-4">
    <div *ngFor="let product of products" >
      <app-product-summary-with-seller
        [product]="product"
      ></app-product-summary-with-seller>
    </div>
  </div>
</ng-template>

<section class="content-page flex justify-center">
  <button type="button" class="button button--primary rounded-full px-24">
    ORDER DETAILS
  </button>
</section>
