<app-header-of-page></app-header-of-page>
<section class="content-page">

  <div class="flex justify-between mb-4">
    <h6 class="text-base font-medium text-blue-900"> {{"orderNo" | translate}} {{orderDetails?.orderNumber}}</h6>
    <p class="text-blue-900">
      {{"orderStatues" | translate}} <span class="val" [ngClass]="{
                'text-[#4EA3F8]': orderDetails?.orderState == orderStatsObject.ordered.key,
                'text-[#FA0029]': orderDetails?.orderState == orderStatsObject.cancelled.key,
                'text-[#fca908]': orderDetails?.orderState == orderStatsObject.shipping.key,
                'text-[#F4D014]': orderDetails?.orderState == orderStatsObject.returned.key,
                'text-[#02A207]': orderDetails?.orderState == orderStatsObject.delivered.key
            }">
        {{ orderDetails?.orderState == orderStatsObject.cancelled.key ? ('cancelled' | translate) : null }}
        {{ orderDetails?.orderState == orderStatsObject.shipping.key ? ('shipping' | translate) : null }}
        {{ orderDetails?.orderState == orderStatsObject.returned.key ? ('returned' | translate) : null }}
        {{ orderDetails?.orderState == orderStatsObject.delivered.key ? ('delivered' | translate) : null }}
        {{ orderDetails?.orderState == orderStatsObject.ordered.key ? ('ordered' | translate) : null }}
      </span>

    </p>
  </div>


  <app-stepper *ngFor="let seller of orderDetails?.sellers" [hasActionFooter]="false"
    [stateOfSellerOrder]="seller.stateOfSellerOrder">
    <app-step [label]="('orderPlaced' | translate)" icon="order-placed" [template]="orderPlaced">
    </app-step>
    <app-step [label]="('pickedUp' |translate)" icon="picked-up" [template]="pickedUp">
    </app-step>
    <app-step [label]="('outForDelivery' | translate)" icon="out-for-delivery" [template]="outForDelivery">
    </app-step>
    <app-step [label]="('delivered' | translate)" icon="delivered" [template]="delivered">
    </app-step>
    <ng-template #orderPlaced>
      <div class="space-y-4">
        <div>
          <app-product-summary-with-seller [seller]="seller"></app-product-summary-with-seller>
        </div>
      </div>
    </ng-template>
    <ng-template #pickedUp>
      <div class="flex justify-between mb-4">
        <h6 class="text-base font-medium text-blue-900">{{"orderNo" | translate}} {{orderDetails?.orderNumber}}</h6>
        <p class="text-blue-900">
          {{"orderStatues" | translate}}  <span class="text-orange-300">{{"pickedUp" | translate }}</span>
        </p>
      </div>
      <div class="space-y-4">
        <div>
          <app-product-summary-with-seller [seller]="seller"></app-product-summary-with-seller>
        </div>
      </div>
    </ng-template>

    <ng-template #outForDelivery>
      <div class="flex justify-between mb-4">
        <h6 class="text-base font-medium text-blue-900">{{"orderNo" | translate}} {{orderDetails?.orderNumber}}</h6>
        <p class="text-blue-900">
          {{"orderStatues" | translate}}  <span class="text-orange-600">{{"outForDelivery" | translate}}</span>
        </p>

      </div>
      <div class="space-y-4">
        <div>
          <app-product-summary-with-seller [seller]="seller"></app-product-summary-with-seller>
        </div>
      </div>
    </ng-template>

    <ng-template #delivered>
      <div class="flex justify-between mb-4">
        <h6 class="text-base font-medium text-blue-900">{{"orderNo" | translate}} {{orderDetails?.orderNumber}}</h6>
        <p class="text-blue-900">
          {{"orderStatues" | translate}} <span class="text-green-500">{{"delivered" | translate}}</span>
        </p>
      </div>
      <div class="space-y-4">
        <div>
          <app-product-summary-with-seller [seller]="seller"></app-product-summary-with-seller>
        </div>
      </div>
    </ng-template>
  </app-stepper>

</section>

<section class="content-page flex justify-center">
  <button (click)="navigateOrderDetails()" type="button" class="button button--primary rounded-full px-24">
    {{"orderDetails" | translate }}
  </button>
</section>
